{% extends 'main/header.html' %}

{% block content %}

<div class="row">
    {% for item, first in firsts.items %}
    <div class="col s12 m8 l4">
        <a href="{{ first }}">
            <div class="card hoverable">
                <div class="card-content blue-grey-text text-darken-3">
                    <span class="card-title">{{ item.item_series }}</span>
                    <p style="font-size:70%">{{ item.item_published }}</p>
                    <p>{{ item.series_summary }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
