<ul id="slide-out" class="sidenav sidenav-fixed hoverable">
    <li>
        <div class="user-view">
            <span class="name">Damian Lesiewicz</span>
            <span class="email">damian.lesiewicz@protonmail.com</span>
        </div>
    </li>
    <li><a href="#!" class="waves-effect">First Link With Icon</a></li>
    <li><a href="#!" class="waves-effect">Second Link</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader">Subheader</a></li>
    <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
</ul>
